<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bdd56dd8-be9f-4988-aa7e-6338e8ae93b9/resourceGroups/tg-books-rg/providers/Microsoft.Web/sites/TGBooksFrontend</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tgbooksfrontend-e0a9cachdeh0effh.polandcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>fa2b7824-ab3b-9374-9da6-37badbaa7fae</ProjectGuid>
    <PublishUrl>https://tgbooksfrontend-e0a9cachdeh0effh.scm.polandcentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$TGBooksFrontend</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>